<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/static/iview.css">
    <title>blog</title>
    <link href="/static/stylesheets/app.22b063bfb9fcaaa9e7ade55113225586.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/static/javascripts/manifest.71b97bb3a9d9de2d2773.js"></script>
<script type="text/javascript" src="/static/javascripts/vendor.8c967e6052002c0c1838.js"></script>
<script type="text/javascript" src="/static/javascripts/app.5148bd21344cc218d3dd.js"></script>
</body>
</html>